BROADCASTER_ID=54654420

# Optional overrides
RABBITMQ_URL=amqp://overlay:strongpassword@dabi.tail74ab06.ts.net:5672/
TOKEN_CACHE_PATH=/data/tokens.json
RABBITMQ_EXCHANGE=twitch_events
RABBITMQ_COMMAND_EXCHANGE=twitch_commands
OVERLAY_HTTP_PORT=8080
OVERLAY_QUEUE=overlay_chat
ANTHROPIC_API_KEY=sk-ant-api03-123123123123123
OBS_HOST=1.1.1.1
OBS_PORT=4455
OBS_PASSWORD=asdasdasdasd
TIKTOK_TOKEN=123456123456
DISCORD_TOKEN=TOKEN
DISCORD_GUILD_ID=123456
DISCORD_EXCHANGE=discord_events
DISCORD_REQUIRED_ROLE=TheGuyInChargeIGuess

# horsy_describer stuff
OBS_JIGGLE_SOURCE=HorseIcon
OBS_REPORT_SOURCE=HorseReport
REPORTS_DIR=./temp/reports
REPORT_DISPLAY_SECONDS=30

# dnd stuff


# Dabi stuff
DABI_EXCHANGE=dabi_events
